<h1>Here is a list of all our available massages</h1>

<% @massages.each do |massage| %>
  <h4><%= link_to massage.category, massage_path(massage) %></h4>
  <h4><%= massage.length %> min </h4>
  <br>
<% end %>
  