<h1>Welcome <%=@user.username%></h1>

<br>

<h4><%= link_to "My Appointments", user_appointment_path(@user.id) %></h4>
<br>

<h4><%= link_to "New Appointment", new_massage_appointment_path(@user.id) %></h4>
<br>

<h4><%= link_to "Create Custom Massage", new_massage_path(@user.id) %></h4>