<h1>Here are all of Your Appointments</h1>

<%= @appointments.each do |appointment| %>
    <h3><%= link_to appointment.date, appointment_path(appointment)%> </h3>
    Location: <%= appointment.location%>
<% end %>